allow untrusted_app_25 adbtcp:file { read };
allow untrusted_app_25 bg_boot_complete_prop:file { read };
allow untrusted_app_25 bg_daemon_prop:file { read };
allow untrusted_app_25 bluetooth_prop:file { read };
allow untrusted_app_25 bootloader_boot_reason_prop:file { read };
allow untrusted_app_25 runtime_event_log_tags_file:file { read };